@{
    ViewData["Title"] = "Employee Signin";
}

<div onload="initScreen()" class="container-fluid" style="height: 100%; margin-bottom: 59px;">
    <div class="row" style="padding-bottom: 15px; padding-top: 15px;">
        <div class="col d-flex flex-wrap">
            <div class="personCard d-flex">
                <div class="col d-flex justify-content-center align-items-center flex-column">
                    <p>
                        <strong>Test</strong>
                    </p>
                    <p>1</p>
                </div>
                <div class="col" id="picture">
                    <img src="~/images/Portrait_Placeholder.png">
                </div>
            </div>
            <div class="personCard d-flex">
                <div class="col d-flex justify-content-center align-items-center flex-column">
                    <p>
                        <strong>Test</strong>
                    </p>
                    <p>2</p>
                </div>
                <div class="col" id="picture">
                    <img src="~/images/Portrait_Placeholder.png">
                </div>
            </div>
            <div class="personCard d-flex">
                <div class="col d-flex justify-content-center align-items-center flex-column">
                    <p>
                        <strong>Test</strong>
                    </p>
                    <p>3</p>
                </div>
                <div class="col" id="picture">
                    <img src="~/images/Portrait_Placeholder.png">
                </div>
            </div>
        </div>
    </div>
</div>